<h1 id="tableLabel">THỂ LOẠI</h1>

<p *ngIf="!theloai"><em>Loading...</em></p>

<button class="btn btn-primary" (click)="openModal(true,null)">Tạo thể loại mới</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="theloai.totalRecord>0">
  <thead>
    <tr>
      <th>Mã Thể Loại</th>
      <th>Tên Thể Loại</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of theloai.data; index as i;">
      <td>{{ d.maTl }}</td>
      <td>{{ d.tenTl }}</td>
      <td>
        <button class="btn btn-info btm-sm" (click)="openModal(false,i)">Sửa</button>
        <button class="btn btn-danger btm-sm" (click)="deleteTheloai(i)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchPrevious()">Trước</a></li>
    <li class="page-item"><a class="page-link" >{{theloai.page}}</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchNext()">Sau</a></li>
  </ul>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Tạo thể loại mới</h5>
          <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Sửa thông tin thể loại</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="isEdit">
            <div class="col-4">Mã thể loại</div>
            <div class="col-8"><input class="form-control" type="number" [(ngModel)] = "theloai1.maTl"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Tên thể loại</div>
            <div class="col-8"><input class="form-control" [(ngModel)] = "theloai1.tenTl"></div>
          </div>
          <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="updateTheloai()">Lưu</button>
          <button type="button" class="btn btn-success" (click)="addTheloai()">Tạo</button>
        </div>
      </div>
    </div>
  </div>

