<h1 id="tableLabel">ĐỘC GIẢ</h1>

<p *ngIf="!docgia"><em>Loading...</em></p>

<button class="btn btn-primary" (click)="openModal(true,null)">Tạo độc giả mới</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="docgia.totalRecord>0">
  <thead>
    <tr>
      <th>Mã Độc Giả</th>
      <th>Tên Độc Giả</th>
      <th>SDT</th>
      <th>Mã Thẻ</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of docgia.data; index as i;">
      <td>{{ d.maDg }}</td>
      <td>{{ d.tenDg }}</td>
      <td>{{ d.sdt }}</td>
      <td>{{ d.maThe }}</td>
      <td>
        <button class="btn btn-info btm-sm" (click)="openModal(false,i)">Sửa</button>
        <button class="btn btn-danger btm-sm" (click)="deleteDocgia(i)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchPrevious()">Trước</a></li>
    <li class="page-item"><a class="page-link">{{docgia.page}}</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchNext()">Sau</a></li>
  </ul>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Tạo độc giả mới</h5>
          <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Sửa thông tin độc giả</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="isEdit">
            <div class="col-4">Mã Độc Giả</div>
            <div class="col-8"><input class="form-control" type="number" [(ngModel)] = "docgia1.maDg"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Tên Độc Giả</div>
            <div class="col-8"><input class="form-control" [(ngModel)] = "docgia1.tenDg"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">SDT</div>
            <div class="col-8"><input class="form-control" [(ngModel)] = "docgia1.sdt"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Mã Thẻ</div>
            <div class="col-8"><input class="form-control" type="number" [(ngModel)] = "docgia1.maThe"></div>
          </div>
          <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="updateDocgia()">Lưu</button>
          <button type="button" class="btn btn-success" (click)="addDocgia()">Tạo</button>
        </div>
      </div>
    </div>
  </div>
