<h1 id="tableLabel">SÁCH</h1>

<p *ngIf="!sach"><em>Loading...</em></p>
<button class="btn btn-primary text-light" (click) = "openModal(true,null)">Tạo sách mới</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="sach.totalRecord>0">
  <thead>
    <tr>
      <th>Mã Sách</th>
      <th>Tên Sách</th>
      <th>Năm Sản Xuất</th>
      <th>Mã Tác Giả</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of sach.data; index as i;">
      <td>{{ s.maSach }}</td>
      <td>{{ s.tenSach}}</td>
      <td>{{ s.namSx | date: "dd-MM-yyyy"}}</td>
      <td>{{ s.maTg }}</td>
      <td>
        <button class="btn btn-info btm-sm" (click) = "openModal(false,i)">Sửa</button>
        <button class="btn btn-danger btm-sm" (click) = "deletesach(i)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="javascript:void(0);" (click)="searchPrevious()">Trước</a>
    </li>

    <li class="page-item"><a class="page-link">{{sach.page}}</a></li>

    <li class="page-item">
      <a class="page-link"href="javascript:void(0);" (click)="searchNext()">Sau</a>
    </li>
</ul>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Tạo sách mới </h5>
        <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Sửa thông tin sách</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="isEdit">
          <div class="col-4">Mã Sách</div>
          <div class="col-8"><input class ="from-control" type="number" [(ngModel)]= "sachs.maSach"></div>
          </div>
      <br/>
          <div class="row">
          <div class="col-4">Tên Sách</div>
          <div class="col-8"><input class ="from-control"  [(ngModel)]= "sachs.tenSach"></div>
        </div>
      <br/>
        <div class="row"> 
          <div class="col-4">Mã Tác Giả</div>
          <div class="col-8"><input class ="from-control" type="number"  [(ngModel)]= "sachs.maTg"></div>
        </div>
      <br/>
        <div class="row"> 
        <div class="col-4">Mã Thể Loại</div>
        <div class="col-8"><input class ="from-control" type="number"  [(ngModel)]= "sachs.maTl"></div>
        </div>
      <br/>
        <div class="row">
          <div class="col-4">Năm Sản Xuất</div>
          <div class="col-8"><input class ="from-control" Type="datetime-local" [(ngModel)]= "sachs.namSx"></div>
        </div> 
      <br/>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary"(click)="updatesach()" >Lưu</button>
        <button type="button" class="btn btn-success"(click)="addsach()">Tạo</button>
      </div>
    </div>
  </div>
</div>
