<div class="row">
    <div class="side">
      <h2>HOẠT ĐỘNG THƯ VIỆN TRONG NƯỚC</h2>
      
      <div class="fakeimg1" style="height:200px;">
        <img src="https://nlv.gov.vn/images/stories/thumbs/com_content/1869/jvnews_200x150.jpg" style="width:100%">
      </div>
      <p>Thực hiện Kế hoạch công tác năm 2020, Thư viện tỉnh Bắc Kạn sẽ phục vụ đọc sách lưu động miễn phí cho người dân, học sinh và các đối tượng có nhu cầu tại gần 80 điểm trong toàn tỉnh. Với sự tài trợ hơn 2 tỷ đồng từ Quỹ Thiện tâm của Tập đoàn Vingroup, xe lưu động của Thư viện tỉnh Bắc Kạn sẽ mang hơn 4.600 bản sách các loại bao gồm: sách giáo khoa, sách tham khảo, tài liệu, sách khoa học, tạp chí...đến với mọi đối tượng người đọc trên địa bàn tỉnh, qua đó giúp người dân tiếp cận với nhiều nguồn sách, báo, tài liệu thường thức và có giá trị phục vụ cho việc học tập, giải trí cũng như phát triển văn hóa đọc trong cộng đồng.</p>
    
     
    </div>
    <div class="main">
      <h2 >Giới Thiệu</h2>
      <h5>Hồ Chí Minh, ngày 22, 2020</h5>
      
     <div class="fakeimg5" style="height:200px;">
        <img src="https://nlv.gov.vn/images/tv_images/nlv.jpg" style="height:200px">
      </div>
        
      
      <p>Thư viện Quốc gia Việt Nam đã, đang và sẽ phấn đấu không ngừng để trở thành nơi lưu truyền tri thức và khơi nguồn cảm hứng thực sự tin cậy, thân thiện của bạn đọc trong và ngoài nước, có uy tín và vị thế xứng đáng trong cộng đồng thư viện Việt Nam, khu vực và thế giới. Để hoàn thành tốt các mục tiêu này, Thư viện Quốc gia Việt Nam sẽ tập trung thực hiện.</p>
      <p>Thứ nhất: Tăng cường công tác thu thập, bảo tồn, phát huy di sản văn hóa chữ viết và xây dựng Bảo tàng tư liêu Việt Nam (trên các chất liệu: đất nung, đá, gốm, sứ, lá, gỗ, tre, nứa, giấy, đồng... ).</p>
      <p>Thứ hai: Tiếp tục làm tốt công tác bồi dưỡng, rèn luyện, nâng cao năng lực chuyên môn, giáo dục phẩm chất nghề nghiệp, lòng yêu nghề, tinh thần trách nhiệm, tâm huyết với công việc cho mỗi viên chức và người lao động.</p>
      <p>Thứ ba: Phát triển theo hướng xây dựng thư viện truyền thống - thư viện hiện đại - thư viện số, trong đó việc ứng dụng công nghệ thông tin để lưu giữ, khai thác tài nguyên thông tin là xu hướng quan trọng để phát triển, tiến tới hình thành mạng lưới thư viện truyền thống – thư viện hiện đại – thư viện số rộng khắp trong cả nước.</p>
      <P>Thứ tư: Xây dựng môi trường đọc thân thiện, sáng tạo, tạo môi trường học, đọc suốt đời cho mọi người dân. Hướng tới mục tiêu chung “Tất cả vì bạn đọc” bằng nhiều phương thức phục vụ, như đọc tại trụ sở thư viện, đọc trên mạng thông qua website của Thư viện Quốc gia Việt Nam.</P>
      <br>
      <h2>TIN TỨC - SỰ KIỆN</h2>
      <h5>GIÁM ĐỐC KHU VỰC CHÂU Á-THÁI BÌNH DƯƠNG CỦA TỔ CHỨC QUỐC TẾ PHÁP NGỮ TỚI THĂM VÀ LÀM VIỆC VỚI THƯ VIỆN QUỐC GIA VIỆT NAM</h5>
      <div class="fakeimg6" style="height:200px;" >
        <img src="https://nlv.gov.vn/images/stories/thumbs/com_content/2437/jvnews_200x150.jpg"></div>
       <p>Sáng ngày 19 tháng 6 năm 2020, Giám đốc Khu vực Châu Á – Thái Bình Dương của Tổ chức Quốc tế Pháp ngữ, ông Chékou Oussouman, đã tới thăm và làm việc với Thư viện Quốc gia Việt Nam. Bà Kiều Thuý Nga, Giám đốc Thư viện Quốc gia Việt Nam tiếp đoàn. Tại buổi làm việc, Giám đốc Thư viện Quốc gia Việt Nam (TVQG) vui mừng chào đón Giám đốc khu vực Châu Á-Thái Bình Dương của Tổ chức quốc tế Pháp ngữ (BRAP – OIF) mới nhận nhiệm vụ tại Việt Nam và tin tưởng ông Chékou Oussouman sẽ giúp thúc đẩy mối quan hệ hợp tác giữa Thư viện Quốc gia Việt Nam và Tổ chức Quốc tế Pháp ngữ trong thời gian tới. Bà Kiều Thuý Nga đã giới thiệu khái quát về quá trình phát triển, nguồn tài nguyên thông tin và các…</p>
       <h5>HỘI NGHỊ SƠ KẾT CÔNG TÁC 6 THÁNG ĐẦU NĂM, TRIỂN KHAI NHIỆM VỤ 6 THÁNG CUỐI NĂM 2020</h5>
       <div class="fakeimg6" style="height:200px;" >
         <img src="https://nlv.gov.vn/images/stories/thumbs/com_content/2436/jvnews_200x150.jpg"></div>
         <p>Ngày 18/6/2020, Thư viện Quốc gia Việt Nam tổ chức Hội nghị sơ kết công tác 6 tháng đầu năm, triển khai nhiệm vụ 6 tháng cuối năm 2020 và Hội nghị sơ kết công tác xây dựng Đảng 6 tháng đầu năm 2020. Trong thời gian qua, đơn vị đã chủ động, tích cực vượt qua những khó khăn do sự bùng phát của dịch bệnh toàn cầu, phát huy truyền thống, quyết tâm hoàn thành tốt các nhiệm vụ chính trị, chuyên môn ở một số lĩnh vực công tác, thi đua lập thành tích chào mừng Đại hội Đảng các cấp. Bên cạnh đó, với sự quan tâm và tạo điều kiện của Đảng uỷ, Lãnh đạo đơn vị và sự tham gia tích cực của các đoàn viên công đoàn, đoàn viên thanh niên, nhiều phong trào đoàn thể của TVQG trong thời gian qua đã…</p>
      </div>


  </div>